<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Torchstuff">
    <meta name="author" content="Pavel Denisovich">
    <title>Torchstuff</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/media.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1;
        }
    </style>
</head>
<body>

<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="../index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img class="bi me-2" width="40" height="40" src="../imgs/logo.jpg" alt="Описание изображения">
                <span class="fs-4 c_font">Torchstuff</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="../index.html" class="nav-link c_font">Главная</a></li>
                <li class="nav-item"><a href="info.html" class="nav-link c_font">Информация</a></li>
                <li class="nav-item"><a href="catalog.html" class="nav-link c_font">Каталог</a></li>
                <li class="nav-item"><a href="form.html" class="nav-link c_font">Обратная связь</a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <form action="/submit" method="POST" id="feedback-form">
            <h2 class="c_font">Обратная связь</h2>
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Сообщение</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="color: #141311; background-color: #e42d35;">Отправить</button>
        </form>
    </div>


</main>

<footer class="bg-light text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div style="padding-right: 10px;">
                        <img src="../imgs/Telegram_logo.svg" alt="Telegram Logo" width="32" height="32">
                    </div>
                    <a href="https://t.me/TorchStuff" class="fs-6 c_font">Telegram</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div style="padding-right: 10px;">
                        <img src="../imgs/Vk_logo.svg" alt="Telegram Logo" width="32" height="32">
                    </div>
                    <a href="https://vk.com/public216520090" class="fs-6 c_font">Группа VK</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div style="padding-right: 10px;">
                        <img src="../imgs/Yandex_Music_logo.svg" alt="Telegram Logo" width="32" height="32">
                    </div>
                    <a href="https://music.yandex.ru/artist/17684480" class="fs-6 c_font">Яндекс музыка</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
